.p-tabview {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    height: 100%;
}

.p-tabview-panels {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    height: 100%;
}

.p-tabview-panel {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    height: 100%;
}

#root .content {
    overflow: hidden;
}

.p-card-title {
    margin: 0;
}
.p-card-body {
    margin: 5px !important;
    padding: 5px !important;
}

.p-card-content p {
    margin: 5px;
}